<h1 class="mb-4">All Tasks</h1>

<div class="card">
  <ul class="task-list list-group list-group-flush">
    <% @tasks.each do | task | %>
      <li class="task-list-row list-group-item container">
        <table>
          <tr>
            <td>
              <% if task.started? %>
                <i class="far fa-circle"></i>
              <% elsif task.complete? %>
                <i class="far fa-check-circle"></i>
              <% else %>
                <i class="far fa-dot-circle"></i>
              <% end %>
            </td>
            <td class="pl-3 w-100">
              <%= link_to task.name, task_path(task), class: ['text-dark', 'lead'] %>
            </td>
            <td class="text-nowrap text-md-right">
              <%= task.deadline.strftime("%-m/%-d") %>
            </td>
          </tr>
        </table>
      </li>
    <% end %>
  </ul>
</div>

