<%= render 'layouts/new_task'%>

<h1 class="title">All Tasks</h1>

<% @tasks.each do | task | %>
<div class="box level is-mobile">
  <div class="level-left">
    <div class="level-item">
      <a class="button">
        <%= task.status %>
      </a>
    </div>
    <div class="level-item">
      <%= link_to task.name, task_path(task), class: "is-size-5" %>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
      Due: <%= task.deadline.strftime("%-m/%-d") %>
    </div>
  </div>
</div>
<% end %>
